*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: 1px solid gray;
}

header{
    background-color: #ff6900 ;
    color: white;
    position: fixed;
    font-size: 1rem;
    padding: 0.5rem 0;
}

header nav li{
    list-style: none;  
}

a{
    color: white;
    text-decoration: none;
}

.flex.nav{
    justify-content: space-between;
}
.logo{
    width: 8rem;
    vertical-align: middle;
}

.flex{
    display: flex;
}

.container{
    width: 920px;
    margin: 0 auto;
}

.container-card{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;  
    padding-top: 5rem;  
}

.card{
    width: 30%;
}

.card img{
    width: 100%;
}

.container-img{
    position: relative;
}

.absolute{
    position: absolute;
    bottom: 30px;
    color: white;
    font-size: 0.8rem;
    font-weight: bold;
    padding: 0.2rem 0.3rem;
}

.hover-img{
    position: absolute;
    top:0;
    left: 0;
}

/* .card:hover .hover-img{
    z-index: 1;
} */

.heart{
    position: absolute;
    right: 0;
    top: 4%;
    background-color: white;
    padding: .5rem;
    font-size: 1.5rem;
    opacity: 0;
}

.card:hover .heart{
    opacity: 1;
}

.discount{
    background-color: #ff0000;
}
.sustainable{
    background-color: #008000;
    left: 16%;
}

/* quando la card è in hover applica questo  */
/* img:hover{
   display: none;
   background-image: url(../img/1b.webp);
   width: 100%;
} */

/* card position relative + :hover con z-ind:1 */