*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    background-color: #ff6900 ;
    color: white;
    position: fixed;
    font-size: 1rem;
    padding: 0.5rem 0;
}

main{
    padding: 5rem 0;
}

li{
    list-style: none;  
}

a{
    color: white;
    text-decoration: none;
    padding: 0 0.2rem;
}

.flex.nav{
    justify-content: space-between;
}
.logo{
    width: 8rem;
    vertical-align: middle;
}

.flex{
    display: flex;
}

.container{
    width: 920px;
    margin: 0 auto;
}

.container-card{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;    
}

.card{
    width: calc(33.3333% - 2rem/3);
}

.card img{
    width: 100%;
}

.container-img{
    position: relative;
}

.absolute{
    position: absolute;
    bottom: 30px;
    color: white;
    font-size: 0.8rem;
    font-weight: bold;
    display: flex;
    column-gap: 0.5rem;
}

.discount{
    background-color: #ff0000;
    padding: 0.2rem 0.3rem;
}
.sustainable{
    background-color: #008000;
    padding: 0.2rem 0.3rem;
}

.hover-img{
    width: 100%;
}

.card .hover-img{
    display: none;
}

.card .img-card{
    display: block;
}

.card:hover .hover-img{
    display: block;
}

.card:hover .img-card{
    display: none;
}

.heart{
    position: absolute;
    right: 0;
    top: 4%;
    background-color: white;
    padding: .5rem;
    font-size: 1.5rem;
    opacity: 0;
}

.card:hover .heart{
    opacity: 1;
}

footer{
    background-color: #1a1a1a;
    color: white;
}

.container-info-leg{
    column-gap: 0.5rem;
}

footer .container{
    justify-content: space-between;
}